body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(https://www.segensart.de/pub/media/catalog/product/cache/5a08db31ac5de620b6a44b34a3bb4b75/5/3/5331.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
label {
  color: #a17676;
  font-size: 1.2rem;
}
input,
textarea,
select {
  padding: 7px;
  background-color: #afacac;
}
.signup-title {
  text-align: center;
  font-size: 30px;
  color: #efefef;
}
.signup-form {
  width: 450px;
  margin: auto;
}
.signup-form label,
.signup-form input:not([type="checkbox"]),
.signup-form select {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"] + label {
  display: inline-block;
  width: auto;
}
.signup-form button[type="submit"] {
  display: block;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #efefef;
  background-color: #9d5353;
  color: #efefef;
  cursor: pointer;
  font-size: 1rem;
}
.signup-form button[type="submit"]:hover {
  background-color: #efefef;
  color: #9d5353;
  border: solid 1px #9d5353;
  transition: all 0.7s;
}
a {
  text-decoration: none;
  font-size: 1.4rem;
  color: rgb(72, 132, 228);
}

h1 {
  font-family: "Smooch", cursive;
}
